@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gotham;
  src: url(./assets/fonts//GothamRounded-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: gotham;
  src: url(./assets/fonts//GothamRounded-Medium.otf);
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: gotham, sans-serif;
}

.simplebar-scrollbar::before {
  background-color: #1f465f !important;
  right: 0 !important;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1 !important;
}

.tippy-popper {
  max-width: 100% !important;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-radius: 2px;
  border-top: 8px solid #f00;
}

.MuiClockPointer-thumb {
  border: 16px solid #f05a28 !important;
}

.MuiClockPointer-root {
  background-color: #f05a28 !important;
}

.MuiClockPointer-noPoint {
  background-color: #f05a28 !important;
}

.MuiClock-pin {
  background-color: #f05a28 !important;
}
